.button {
    /* button decoration */
    border: 0;
    width: 221.81px;
    height: 71px;
}

.button {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    /* Gray 1 */
    color: #333333;
    margin-bottom: 0;
    background-color: #ffff;
}

.button:hover {
    background-color: #BDBDBD;
}

/* black button */


.button-black {
    /* button decoration */
    border: 0;
    width: 221.81px;
    height: 71px;
}

.button-black {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    /* identical to box height, or 100% */
    letter-spacing: 0.2em;
    text-transform: uppercase;
    /* Gray 1 */
    color: #ffffff;
    margin-bottom: 0;
    background-color: #333333;
}

.button-black:hover {
    background-color: #BDBDBD;
}