.container-md {
    margin-left: 12%;
    margin-right: 12%;
    height: 900px;
}

.certifications__title,
.certifications__title-bold {
    font-size: 4rem;
    line-height: 4rem;
}

.certifications__title {
    margin-top: 3.9375rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    text-transform: uppercase;
    color: #BDBDBD;
}

.certifications__title-bold {
    margin-bottom: 1.875rem;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #333333;
}