/*Common rules start*/

a:hover,
a:focus,
a:active {
    opacity: .80;
}

/*Common rules end*/

/*Footer starts*/

footer {
    background-color: #2C2C2C;
    color: white;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 417px;
}

.container__footer {
    padding-top: 58px;
    margin-bottom: 60px;
}

.col__footer-info {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
}

.footer__info-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
}

.footer__info-item {
    margin-bottom: 16px;
}

.footer__info-item:last-child {
    margin-bottom: 0;
}

.footer__info-item {
    text-decoration: none;
    color: #FFFFFF;
}

.col__footer-contacts {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: 0.03em;
}

.footer__contacts-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 25px;
}

.footer__contacts-adress {
    width: 140px;
    margin-bottom: 63px;
}

.footer__contacts-number {
    margin-bottom: 45px;
}

.footer__contacts-item {
    display: flex;
    align-items: flex-start;
}

.footer__contacts-adress,
.footer__contacts-number,
.footer__contacts-mail {
    display: flex;
    margin-top: -7px;
}

.icons {
    margin-right: 15px;
}

.footer__social-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    margin-bottom: 26px;
}

.footer__social-items {
    display: flex;
    justify-content: space-between;
}

.footer__copyright {
    display: flex;
    justify-content: center;
    border-top: 1px solid rgba(200, 200, 200, 0.116);
}

.footer__copyright-text {
    margin-top: 15px;
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 22px;
    color: rgba(200, 200, 200, 0.5);
}

/*Footer ends*/

@media (max-width: 992px) {
    .row__footer {
        justify-content: space-between;
    }

    .col__footer-info,
    .footer__contacts-title {
        display: none;
    }
}

@media (max-width: 768px) {
    .col__footer-icon {
        display: none;
    }

    .row__footer {
        justify-content: space-around;
    }

    .footer__social-items {
        flex-direction: column;
    }

    .footer__social-links {
        margin: 5px;
    }
}