.missions__title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 64px;
    line-height: 64px;
    color: #BDBDBD;
    margin-bottom: 15px;
}

.col__mission-two,
.col__mission-one {
    display: flex;
    align-items: center;
}

.mission__number {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 900;
    font-size: 200px;
    line-height: 234px;
    display: flex;
    align-items: center;
    color: #F2F2F2;
}

.mission-number1 {
    padding-right: 12px;
}

.mission-number2 {
    padding-right: 35px;
}

.mission__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 36px;
    color: #333333;
}

.mission-text1 {
    width: 279px;
}

.mission-text2 {
    width: 420px;
}

.block-missions {
    margin-top: 120px;
}

.project-nav__item_active {
    position: relative;

}

.project-nav__item {
    margin-bottom: 30px;
    padding-left: 0;
    padding-right: 30px;
}

.project-nav__pic2 {
    max-width: 100%;
}

.project-active {
    position: relative;
}

.project-active__wrap {
    filter: brightness(40%);
}

.sub {
    position: absolute;
    z-index: 3;
    margin: 10%;
}

.project-subtitle__button {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #ffffff;
    padding-left: 10%;
}

.project-nav__pic {
    width: 100%;
}


.project-subtitle__text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 64px;
    line-height: 64px;
    color: #FFFFFF;
    filter: none;
    padding-left: 10%;
}

.project-nav__pic:hover {
    filter: brightness(40%);
}


.section-project__title {
    margin-bottom: 5%;
    margin-top: 5%;
}

@media (max-width: 992px) {
    .row__missions {
        align-items: center;
    }

    .col__missions-title {
        text-align: center;
    }
}

@media (max-width: 768px) {
    .row__missions {
        flex-direction: column;
        align-items: center;
    }

    .block-missions {
        width: 90%;
    }

    .col__mission-one,
    .col__mission-two {
        display: inline-flex;
        flex-direction: column;
        text-align: center;
    }

    .mission__number {
        display: block;
        padding: 0;
    }

    .project-subtitle__text {
        font-size: 3em;
        line-height: 44px;
        margin-bottom: 4px;
    }

    .project-subtitle__button {
        font-size: 8px;
        line-height: 10px;
    }
}

@media (max-width: 410px) {
    .project-subtitle__text {
        font-size: 1.5em;
        line-height: 40px;
        margin-bottom: -6px;
        margin-top: -16px;
    }


}