/* Блок OurProjects-Page */

.container-ourprojects {
    margin-left: 12%;
    margin-right: 12%;
}

.ourprojects__title,
.ourprojects__title-bold {
    font-size: 4rem;
    line-height: 4rem;
}

.ourprojects__title {
    margin-top: 3.9375rem;
    font-weight: 300;
    color: #BDBDBD;
}

.ourprojects__title-bold {
    margin-bottom: 1.875rem;
    font-weight: 700;
    color: #333333;
    padding-bottom: 30px;
}

.card-title {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 40px;
    line-height: 47px;
    color: #BDBDBD;
    padding-bottom: 72px;
}

.col-md-8 {
    background: #FBFBFB;
}

.col-md-4 {
    background: #FBFBFB;
}


.img-fluid {
    width: 100%;
}

.card-text {
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 25px;
    color: #000000;
    padding-bottom: 65px;
}

.button_projects {
    /* button decoration */
    border: 0;
    width: 221.81px;
    height: 71px;
}

.button_projects {
    text-decoration: none;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.2em;
    text-transform: uppercase;
    color: #333333;
    margin-bottom: 0;
    background-color: #ffff;
}

.button_projects:hover {
    background-color: #BDBDBD;
}

.container__navigation {
    display: flex;
    margin-top: 60px;
    margin-bottom: 120px;
    align-items: center;
}

.page__number {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 141.88px;
    height: 52px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 24px;
    color: #BDBDBD;
}

.page__number-from {
    display: flex;
    flex-direction: column;
    color: #333333;
}

.page__number-item {
    margin: 0;
}

.page__number-slash {
    background-color: #E0E0E0;
    width: 44px;
    height: 0px;
    border: 2px solid #E0E0E0;
    transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
}

.control {
    margin-left: 29px;
    width: 129px;
}

.control__item_active:hover {
    background-color: #ddd;
}

.control__item {
    border: 1px solid rgba(221, 221, 221, 0.628);
    padding: 9px 11px 11px 11px;
    margin-right: 10px;
}