.control__item_active:hover {
  background-color: #ddd;
}

.control__item {
  border: 1px solid rgba(221, 221, 221, 0.628);
  padding: 9px 11px 11px 11px;
  margin-right: 10px;
}

.page__number {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 90px;
  width: 141.88px;
  height: 52px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: #BDBDBD;
}

.page__number-from {
  display: flex;
  flex-direction: column;
}

.page__number-item {
  margin: 0;
}

.page__number-slash {
  background-color: #E0E0E0;
  width: 44px;
  height: 0px;
  border: 2px solid #E0E0E0;
  transform: matrix(-0.71, 0.71, -0.71, -0.71, 0, 0);
}

.project-slider__img {
  width: 100%;
  height: 100%;
}

.title {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  font-size: 64px;
  line-height: 64px;
  color: #BDBDBD;
}

.project-slider__title {
  margin-top: 95%;
}

.subtitle {
  width: 186px;
  height: 64px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 64px;
  line-height: 64px;
  color: #333333;
  margin-bottom: 20%;
}

.project-slider__subtitle {
  margin-bottom: 20%;
}

.project-slider__button {
  background-color: #ffff;
}

.project-slider__button_active:hover {
  background-color: rgba(232, 215, 215, 0.27);
}

.project-slider__row {
  margin-bottom: 8%;
}

@media (max-width: 992px) {
  body {
    max-width: 100%;
  }

  .container__project {
    margin: 0 !important;
  }

  .project-slider__row {
    flex-direction: column;
    align-content: center;
  }

  .project-slider__title {
    margin-top: 5px;
    font-size: 4em;
    max-width: 100%;
  }

  .control {
    display: none;
  }

  .page__number {
    display: none;
  }

  .project-slider__content {
    display: block;
  }
}