/*Roboto fonts starts*/

@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    font-style: normal;
    src: local(''),
        url('../fonts/Roboto-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 600;
    font-style: normal;
    src: local(''),
        url('../fonts/Roboto-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 700;
    font-style: normal;
    src: local(''),
        url('../fonts/Roboto-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 900;
    font-style: normal;
    src: local(''),
        url('../fonts/Roboto-Black.ttf') format('truetype');
}

@font-face {
    font-family: 'Roboto';
    font-weight: 300;
    font-style: normal;
    src: local(''),
        url('../fonts/Roboto-Light.ttf') format('truetype');
}

/*Roboto fonts ends*/

/*TT Hoves fonts starts*/

@font-face {
    font-family: 'TT Hoves';
    font-weight: 300;
    font-style: normal;
    src: local(''),
        url('../fonts/TTHoves-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Hoves';
    font-weight: 400;
    font-style: normal;
    src: local(''),
        url('../fonts/TTHoves-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Hoves';
    font-weight: 600;
    font-style: normal;
    src: local(''),
        url('../fonts/TTHoves-Medium.ttf') format('truetype');
}

@font-face {
    font-family: 'TT Hoves';
    font-weight: 700;
    font-style: normal;
    src: local(''),
        url('../fonts/TTHoves-Bold.ttf') format('truetype');
}

/*TT Hoves fonts ends*/

/*OpenSans fonts starts*/

@font-face {
    font-family: 'OpenSans';
    font-weight: 400;
    font-style: normal;
    src: local(''),
        url('../fonts/OpenSans-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'OpenSans';
    font-weight: 600;
    font-style: normal;
    src: local(''),
        url('../fonts/OpenSans-SemiBold.ttf') format('truetype');
}

/*OpenSans fonts starts*/

/*GothicA1 fonts starts*/

@font-face {
    font-family: 'GothicA1';
    font-weight: 400;
    font-style: normal;
    src: local(''),
        url('../fonts/GothicA1-Regular.ttf') format('truetype');
}

/*GothicA1 fonts ends*/